<!-- <div class="signUp-box">
  <h2>SignUP</h2>
  <form [formGroup]="registerUserData">
    <div class="email">
      <input formControlName="email" type="text" placeholder="E-mail" />
    </div>
    <div class="password">
      <input formControlName="password" type="password" placeholder="Password" />
    </div>
    <div class="submit">
      <button (click)="registerUser()" type="button">SignUp</button>
    </div>
  </form>
</div> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="styles.css" /> -->
  </head>
  <body>
    <div class="wrapper">
      <div class="title">SignUp</div>
      <form [formGroup]="registerUserData">
        <div class="field">
          <input type="text" required />
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" required />
          <label>Password</label>
        </div>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me" />
            <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="field">
          <input type="submit" value="Signup" />
        </div>
        <div class="login-link">Already a member? <a href="#">Login now</a></div>
      </form>
    </div>
  </body>
</html>
